@model IEnumerable<DBFirstEF_LMS.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Student ID
        </th>
        <th>
           First Name
        </th>
        <th>
           Last Name
        </th>
        <th>
            DOB
        </th>
        <th>
            Manage
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |*@
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.StudentID })'">Edit</button>

           @* @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |*@

            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Details", new { id = item.StudentID })'">Details</button>

            @*@Html.ActionLink("Delete", "Delete", new { id = item.StudentID })*@
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.StudentID })'">Delete</button>

        </td>
    </tr>
}

</table>
