@model dynamic
@{
    ViewBag.Title = "Show student classes";


}
<div class="body-content">
    <h2>Student records for @ViewBag.studentName</h2>
    <h3>Class List</h3>
    <br />
    <table class="table-hover">
        @foreach (var c in Model.listofclasses)
        {
            <tr data-href="">
                <td>
                     @c.course_name @c.course_id , @c.day_of_week @c.start_time - @c.end_time
                </td>
            </tr>
        }
        
    </table>
</div>
