@model dynamic

@{
    ViewBag.Title = "StudentClassList";
}
<div class="body-content">
    <h2>Student records for @ViewBag.studentName</h2>
    <br />
    <h4>Class List</h4>
    <div>
        <table>
            @foreach (var c in Model.listofclasses)
            {
                <tr>
                    <td>
                        <a href="@Html.Action("action","controller")" @c.course_name @c.course_id , @c.day_of_week @c.start_time - @c.end_time />
                    </td>
                </tr>
            }
        </table>
    </div>

</div>