@model IEnumerable<DBFirstEF_LMS.Models.StudentLogin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_pwd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Fname)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Student.Lname)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.student_pwd)
        </td>
        <td>
           @*@Html.ActionLink("Edit", "Edit", new { id = item.student_id })*@ 
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.student_id })'">Edit</button>
            @*@Html.ActionLink("Details", "Details", new { id = item.student_id })*@ 
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Details", new { id = item.student_id })'">Details</button>
            @*@Html.ActionLink("Delete", "Delete", new { id = item.student_id })*@
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.student_id })'">Delete</button>

        </td>
    </tr>
}

</table>
