@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<h2>Admin Portal</h2>
<h3>Student Accounts</h3>
<div>
    @Html.ActionLink("Add New Student", "Create", "Students") <br />
    <!--
        @Html.ActionLink("Edit Existing Student", "Edit", "Students")<br />
        @Html.ActionLink("Delete Existing Student", "Delete", "Students")<br />
        @Html.ActionLink("View Student Details", "Details", "Students")<br />
    -->
    @Html.ActionLink("Manage Existing Students", "Index", "Students")<br />
</div>
<h3>Enrollment</h3>
<div>
    @Html.ActionLink("Enroll Into Classs", "Create", "Registereds") <br />
    <!--
    @Html.ActionLink("Edit Enrollment", "Edit", "Registereds")<br />
    @Html.ActionLink("Drop Student from class", "Delete", "Registereds")<br />
    @Html.ActionLink("View Enrollment Details", "Details", "Registereds")<br />
            -->
    @Html.ActionLink("Manage Exisiting Enrollments", "Index", "Registereds")<br />

</div>
<h3>Courses</h3>
<div>
    @Html.ActionLink("Offer New Course", "Create", "Sections") <br />
    <!--
    @Html.ActionLink("Edit Enrollment", "Edit", "Sections")<br />
    @Html.ActionLink("Delete Course", "Delete", "Sections")<br />
         -->
    @Html.ActionLink("View All Enrollments", "Index", "Sections")<br />
</div>
<h3>Staff Members</h3>
<div>
    @Html.ActionLink("New Staff", "Create", "Staffs") <br />
    <!--
    @Html.ActionLink("Edit Enrollment", "Edit", "Sections")<br />
    @Html.ActionLink("Delete Course", "Delete", "Sections")<br />
         -->
    @Html.ActionLink("View All Staff", "Index", "Staffs")<br />
</div>


