@model dynamic
@{
    ViewBag.Title = "Show staff classes";


}
<div class="body-content">
    <h2>Staff records for @ViewBag.staffName</h2>
    <h3>Class List</h3>
    <br />
    <table class="table-hover">
        @foreach (var c in Model.listofclasses)
        {
            <tr>
                @*data-href="@Url.Action("StudentClass","Students", new { id = Convert.ToInt32(@c.section_id) })">*@
            <td>
                @*@c.course_name @c.course_id , @c.day_of_week @c.start_time - @c.end_time @c.section_id*@
                <a href="@Url.Action("StaffClass","Staffs", new { id = Convert.ToInt32(@c.section_id) })">@c.course_name @c.course_id , @c.day_of_week @c.start_time - @c.end_time @c.section_id</a>
            </td>
        </tr>
    }

    </table>
</div>
