@model DBFirstEF_LMS.Models.StaffLogin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StaffLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staff_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
